$colors: (
  primary: #0d6efd,
  primary-dark: darken(#0d6efd, 20%),
  danger: #ff0e0e,
  danger-dark: darken(#ff0e0e, 20%),
);

$mobile: 800px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.users__actions {
  display: flex;
  justify-content: space-around;

  span {
    .fa-user-edit {
      color: color(primary);
      &:hover {
        color:color(primary-dark);
      }
    }
    .fa-trash-alt {
      color: color(danger);
      &:hover {
        color:color(danger-dark);
      }
    }
  }
}

h3 {
  text-align: center;
}

.users__row {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  input, button {
    @include mobile {
      margin-bottom: 10px;
    }
  }
  button {
    width: 100%;
  }
}